@inherits LayoutComponentBase

<div class= "container">

        <header class="border-bottom">
            <div class="topbar">
                
                <h3>ITLA</h3>
                <h6>Emmanuel Hidalgo Perez Ramirez</h6>
     

                <div class=" text-end">
                <NavLink class="btn btn-primary botonMenu" href ="/" > Menu </NavLink> </div>
                <br>
            
                <div  class=" text-end">
                <NavLink class="btn btn-primary botonAcerca" href ="/AcercaDe" > Acerca de </NavLink> </div>
             
            </div>
        </header>

    <div id= "DivMain">
        @Body
    </div>

    <div>
        <footer class = "border-top footer text-muted">
            <div class= "container">
                &copy;2024- ITLA
            </div>
        </footer>
    </div>

<div class ="bottonbar">
</div>

</div>