@page "/"

<PageTitle>Inicio</PageTitle>

<h2>Tarea 2</h2>
<h5>Escoje un ejercicio para visualizar</h5>


<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class=" fa-solid fa-mobile" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Ejercicio 1</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetro un entero y retorne su último dígito</span>
						</div>
                        
						<NavLink href="/ejercicio1">Ir al ejercicio</NavLink>
                    
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Ejercicio 3</h4>
						</div>
                        
						<div class="text">
							<span>Recibir un entero y retorne sus dos últimos dígitos.</span>
						</div>
                        
						<NavLink href="/ejercicio3">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-minus" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Ejercicio 5</h4>
						</div>
                        
						<div class="text">
							<span>Recibir un entero y retorne la cantidad de dígitos primos.</span>
						</div>
                        
						<NavLink href="/ejercicio5">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-calculator" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Ejercicio 7</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetro un carácter y retorne el código ASCII asociado a él.</span>
						</div>
                        
						<NavLink href="/ejercicio7">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Ejercicio 9</h4>
						</div>
                        
						<div class="text">
							<span>Recibir un entero y le calcule su factorial</span>
						</div>
                        
						<NavLink href="/ejercicio9">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-duotone fa-solid fa-calculator" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Ejercicio 11</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetro un entero y un dígito y retorne 1 si dicho entero es múltiplo de dicho dígito y 0 si no es así.</span>
						</div>
                        
						<NavLink href="/ejercicio11">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Ejercicio 13</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetro un entero y un dígito y retorne la cantidad de veces que se encuentra dicho dígito en dicho entero.</span>
						</div>
                        
						<NavLink href="/ejercicio13">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-not-equal" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Ejercicio 15</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetros dos números enteros y retorne 1 si el primer número es múltiplo del segundo y 0 si no.</span>
						</div>
                        
						<NavLink href="/ejercicio15">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
							<i class="fa-solid fa-square-root-variable"></i>

						<div class="title">
							<h4>Ejercicio 17</h4>
						</div>
                        
						<div class="text">
							<span> Recibir como parámetro un entero y retorne 1 si corresponde al código ASCII de un dígito</span>
						</div>
                        
						<NavLink href="/ejercicio17">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-plus-minus"></i>
                        
						<div class="title">
							<h4>Ejercicio 19</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetro un entero y retorne 1 si dicho valor es un número de mínimo 3 dígitos. Deberá retornar 0 si no es así.</span>
						</div>
                        
						<NavLink href="/ejercicio19">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					<i class="fa-solid fa-less-than-equal"></i>				
							<div class="title">
							<h4>Ejercicio 21</h4>
						</div>
                        
						<div class="text">
							<span>Recibir como parámetro un entero y retorne 1 si en dicho valor el primer dígito es igual al último. Deberá retornar 0 si no es así. </span>
						</div>
                        
						<NavLink href="/ejercicio21">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                      <i class="fa-solid fa-less-than"></i>
                        
						<div class="title">
							<h4>Ejercicio 23</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio23">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                       <i class="fa-solid fa-infinity"></i>
                        
						<div class="title">
							<h4>Ejercicio 25</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio25">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>

                
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-greater-than-equal"></i>
                        
						<div class="title">
							<h4>Ejercicio 27</h4>
						</div>
                        
						<div class="text">
							<span>Construir una función que reciba como parámetro un entero y retorne su último dígito</span>
						</div>
                        
						<NavLink href="/ejercicio27">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-greater-than"></i>
                    
						<div class="title">
							<h4>Ejercicio 29</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio29">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-equals"></i>
                        
						<div class="title">
							<h4>Ejercicio 31</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio31">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-divide"></i>
                        
						<div class="title">
							<h4>Ejercicio 33</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio33">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-square-minus"></i>
                    
						<div class="title">
							<h4>Ejercicio 35</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/Ejercicio35">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-wave-square"></i>
                        
						<div class="title">
							<h4>Ejercicio 37</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/Ejercicio37">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-superscript"></i>
                        
						<div class="title">
							<h4>Ejercicio 39</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio39">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-circle-plus"></i>
                    
						<div class="title">
							<h4>Ejercicio 41</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio41">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-circle-minus"></i>
                        
						<div class="title">
							<h4>Ejercicio 43</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio43">Ir al ejercicio</NavLink>
						
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-hashtag"></i>
                        
						<div class="title">
							<h4>Ejercicio 45</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio45">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <i class="fa-solid fa-mobile-screen"></i>
                    
						<div class="title">
							<h4>Ejercicio 47</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio47">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="fa-solid fa-square-minus"></i>
                        
						<div class="title">
							<h4>Ejercicio 49</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<NavLink href="/ejercicio49">Ir al ejercicio</NavLink>
                        
					 </div>
				</div>


</div>
