#DivMain[b-gosrtct119]
{
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 100px;
    border: 2px solid  rgba(158, 104, 21, 0.615);
    border-radius: 10px;
    border-width: 2px;
    background-color: rgb(245, 245, 220);
    min-height: 500;
    margin-right: 45px;
    margin-left: 45px;
}

.topbar[b-gosrtct119]{
    background-color:blanchedalmond;
    width: 100%;
    padding: 10px;
    position: center;
    border: 2px solid rgba(158, 104, 21, 0.615);
    border-radius: 10px;
    border-width: 2px;
}

.bottonbar[b-gosrtct119]{

    background-color:blanchedalmond;
    width: 100%;
    padding: 15px;
    position: center;
    border: 2px solid rgba(158, 104, 21, 0.615);
    border-radius: 15px;
    border-width: 2 px; 
}
